ExitApartment/Library/UndoStack.bin filter=lfs diff=lfs merge=lfs -text
ExitApartment/Library/ArtifactDB filter=lfs diff=lfs merge=lfs -text
Library/ArtifactDB filter=lfs diff=lfs merge=lfs -text
Library/UndoStack.bin filter=lfs diff=lfs merge=lfs -text
